@model DNA3.Models.Project
@{
	Layout = "_Dashboard";
	string Title = "Project";
}

@section CSS {

}

@section Scripts {

	<!-- Automated Form Validation -->
	<script src="~/common/plugins/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/common/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>@Title Detail</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">@Title Detail</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<partial name="_Messages" />
			<div class="row">
				<!-- left column -->
				<div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">@Title</h3>
							<div class="card-tools">
								<button asp-action="Save" form="Master" class="btn btn-tool btn-sm">
									<i class="far fa-floppy-disk"></i>
								</button>
								<button asp-action="Delete" form="Master" class="btn btn-tool btn-sm">
									<i class="far fa-trash-can"></i>
								</button>
								<button asp-controller="Action" asp-action="Index" asp-route-id="@Model.ProjectId" form="Master" class="btn btn-tool btn-sm">
									<i class="fas fa-link"></i>
								</button>
								<a href="/report/viewer.html?Report=Project.rdl" formaction="Master" class="btn btn-tool btn-sm" target="_blank">
									<i class="fas fa-print"></i>
								</a>
								<a asp-action="Index" class="btn btn-tool btn-sm">
									<i class="fas fa-xmark"></i>
								</a>
							</div>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form asp-action="#" id="Master">
							<div class="card-body">
								<div class="row mb-0">
									<div class="col-lg-6">
										<div class="form-group">
                                            <label asp-for="Date">@Html.DisplayNameFor(x => x.Date)</label>
                                            <input asp-for="Date" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Date)" autocomplete="off" spellcheck="false">
                                            <span asp-validation-for="Date" class="text-danger small"></span>
										</div>
									</div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="StatusId" class="mr-2">@Html.DisplayNameFor(x => x.StatusId)</label>
                                            <a asp-controller="Status" asp-action="New" class="small mr-2">New</a><a asp-controller="Status" asp-action="Edit" asp-route-id="@Model.StatusId" class="small">Edit</a>
                                            <select asp-for="StatusId" class="form-control" asp-items="@(new SelectList(ViewBag.StatusList, "StatusId", "Name"))" placeholder="@Html.DisplayNameFor(model => model.StatusId)" autocomplete="off" spellcheck="false"></select>
                                            <span asp-validation-for="StatusId" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>
								<div class="row mb-0">
									<div class="col-12">
										<div class="form-group">
                                            <label asp-for="Subject">@Html.DisplayNameFor(x => x.Subject)</label>
                                            <input asp-for="Subject" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Subject)">
                                            <span asp-validation-for="Subject" class="text-danger small"></span>
										</div>
									</div>
								</div>
								<div class="row mb-0">
									<div class="col-12">
										<div class="form-group">
                                            <label asp-for="Content">@Html.DisplayNameFor(x => x.Content)</label>
                                            <input asp-for="Content" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Content)">
                                            <span asp-validation-for="Content" class="text-danger small"></span>
										</div>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
							<input asp-for="ProjectId" type="hidden" />
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!-- / Left Column -->
			</div>
			<!-- / Row -->
		</div>
		<!-- Container Fluid -->
	</section>
</div>
<!-- / Content Wrapper -->
