@if (User.Identity.IsAuthenticated) {
    if (User.HasSufficientAuthority("Admin")) {
        <a asp-controller="@ViewData["Controller"]" asp-action="@ViewData["Action"]" asp-route-id="@ViewData["Id"]" title="@ViewData["Title"]"><i class="fa-solid fa-pencil ms-3 @ViewData["Css"]"></i></a>
    }
}
