@model Login
@{
    Layout = "_Dashboard";
    string Title = "Identity";
}
@section CSS {

}
@section Scripts {
    <script src="~/common/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/common/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('#passwordModal').on('shown.bs.modal', function () {
            $('#Proposed').focus();
        })
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Title Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@Title Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <partial name="_Messages" />
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@Title</h3>
                            <div class="card-tools">
                                <button asp-action="Save" form="Master" class="btn btn-tool btn-sm">
                                    <i class="far fa-floppy-disk" title="Save"></i>
                                </button>
                                <button asp-action="Delete" form="Master" class="btn btn-tool btn-sm">
                                    <i class="far fa-trash-can" title="Delete"></i>
                                </button>
                                <Button asp-action="Change" asp-route-id="@Model.LoginId" form="Master" class="btn btn-tool btn-sm">
                                    <i class="fas fa-lock" title="Set Password"></i>
                                </Button>
                                <a href="/report/viewer.html?Report=User.rdl" class="btn btn-tool btn-sm" target="_blank">
                                    <i class="fas fa-print" title="Print"></i>
                                </a>
                                <a asp-action="Index" asp-route-id="@Model.UserId" class=" btn btn-tool btn-sm">
                                    <i class="fas fa-xmark" title="Close"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="#" id="Master">
                            <div class="card-body">
                                <div class="row mb-0">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="Email">@Html.DisplayNameFor(x => x.Email)</label>
                                            <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Email)" autocomplete="off" spellcheck="false" autofocus>
                                            <span asp-validation-for="Email" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label asp-for="Provider">@Html.DisplayNameFor(x => x.Provider)</label>
                                            <input asp-for="Provider" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Provider)" autocomplete="off" spellcheck="false">
                                            <span asp-validation-for="Provider" class="text-danger small"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <input asp-for="LoginId" type="hidden" />
                            <input asp-for="UserId" type="hidden" />
                            <input asp-for="Password" type="hidden" />
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- / Left Column -->
            </div>
            <!-- / Row -->
        </div>
        <!-- Container Fluid -->
    </section>
</div>
<!-- / Content Wrapper -->
