@model Registration

@{
	Layout = "_Authentication";
}

@section CSS {

}

@section Scripts {

}

<div class="register-box">
	<div class="card card-outline card-primary">
		<div class="card-header text-center">
			<a href="/" class="h1">@Configuration["App:Shortname"]</a>
		</div>
		<div class="card-body">
			<p class="login-box-msg">Register a new membership</p>

			<form asp-action="#">
				<div class="input-group">
					<input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Email)">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>
				<span asp-validation-for="Email" class="text-danger small"></span>
				<div class="input-group mt-3">
					<input asp-for="Company" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Company)">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-shop"></span>
						</div>
					</div>
				</div>
				<span asp-validation-for="Company" class="text-danger small"></span>
				<div class="input-group mt-3">
					<input asp-for="First" class="form-control" placeholder="@Html.DisplayNameFor(x => x.First)">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				<span asp-validation-for="First" class="text-danger small"></span>
				<div class="input-group mt-3">
					<input asp-for="Last" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Last)">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				<span asp-validation-for="Last" class="text-danger small"></span>
				<div class="row mt-3">
					<div class="col-8">
						<div class="icheck-primary">
							<input asp-for="Terms" type="checkbox">
							<label for="Terms" class="ml-2">
								I agree to the <a href="#">@Html.DisplayNameFor(x => x.Terms)</a>
							</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-4">
						<span asp-validation-for="Terms" class="text-danger small"></span>
					</div>
					<!-- /.col -->
				</div>
				<div class="row">
					<div class="col-8">
						<p class="text-muted small">By clicking the register button you are signing up for a recurring membership.</p>
					</div>
					<!-- /.col -->
					<div class="col-4">
						<button asp-action="Register" class="btn btn-primary btn-block">Register</button>
					</div>
					<!-- /.col -->
				</div>
				<input asp-for="Provider" type="hidden" />
			</form>

			@*<div class="social-auth-links text-center">
					<a href="#" class="btn btn-block btn-primary">
						<i class="fab fa-microsoft mr-2"></i>
						Sign up using Microsoft
					</a>
					<a href="#" class="btn btn-block btn-danger">
						<i class="fab fa-google mr-2"></i>
						Sign up using Google
					</a>
				</div>*@

			<a href="/dashboard/login" class="text-center">I already have a membership</a>
		</div>
		<!-- /.form-box -->
	</div><!-- /.card -->
</div>
<!-- /.register-box -->
