@model DNA3.Models.Action
@{
    Layout = "_Dashboard";
    string Title = "Action";
}

@section CSS {
    <link href="/common/plugins/fontawesome-iconpicker/css/fontawesome-iconpicker.css" rel="stylesheet" />
}

@section Scripts {

    <!-- Automated Form Validation -->
    <script src="~/common/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/common/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Font Awesome Icon Picker -->
    <script src="~/common/plugins/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>
    <script>
        $('#Icon').iconpicker({
            container: false,
            hideOnSelect: true,
            placement: 'bottom'
        });
    </script>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Title Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@Title Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
		<div class="container-fluid">
			<partial name="_Messages" />
			<div class="row">
				<!-- left column -->
				<div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">@Title</h3>
							<div class="card-tools">
								<button asp-action="Save" form="Master" class="btn btn-tool btn-sm">
									<i class="far fa-floppy-disk"></i>
								</button>
								<button asp-action="Delete" form="Master" class="btn btn-tool btn-sm">
									<i class="far fa-trash-can"></i>
								</button>
								<a href="/report/viewer.html?Report=Action.trdp" class="btn btn-tool btn-sm" target="_blank">
									<i class="fas fa-print"></i>
								</a>
								<a asp-action="Close" class="btn btn-tool btn-sm">
									<i class="fas fa-xmark"></i>
								</a>
							</div>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form asp-action="#" id="Master" autocomplete="off">
							<div class="card-body">
								<div class="row mb-0">
									<div class="col-lg-4">
										<div class="form-group">
											<label asp-for="Icon">@Html.DisplayNameFor(x => x.Icon)</label>
											<input asp-for="Icon" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Icon)" spellcheck="false">
											<span asp-validation-for="Icon" class="text-danger small"></span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label asp-for="Class">@Html.DisplayNameFor(x => x.Class)</label>
											<input asp-for="Class" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Class)" spellcheck="false">
											<span asp-validation-for="Class" class="text-danger small"></span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label asp-for="RoleId" class="mr-2">@Html.DisplayNameFor(x => x.RoleId)</label>
											<a asp-controller="Role" asp-action="New" class="small mr-2">New</a><a asp-controller="Role" asp-action="Edit" asp-route-id="RoleId" class="small">Edit</a>
											<select asp-for="RoleId" class="form-control" asp-items="@(new SelectList(ViewBag.RoleList, "RoleId", "Name"))" placeholder="@Html.DisplayNameFor(model => model.RoleId)" autocomplete="off" spellcheck="false"></select>
											<span asp-validation-for="RoleId" class="text-danger small"></span>
										</div>
									</div>
								</div>
								<div class="row mb-0">
									<div class="col-lg-8">
										<div class="form-group">
											<label asp-for="Code">@Html.DisplayNameFor(x => x.Code)</label>
											<input asp-for="Code" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Code)" spellcheck="false">
											<span asp-validation-for="Code" class="text-danger small"></span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label asp-for="Name">@Html.DisplayNameFor(x => x.Name)</label>
											<input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Name)" spellcheck="false">
											<span asp-validation-for="Name" class="text-danger small"></span>
										</div>
									</div>
								</div>
								<div class="row mb-0">
									<div class="col-lg-8">
										<div class="form-group">
											<label asp-for="Target">@Html.DisplayNameFor(x => x.Target)</label>
											<input asp-for="Target" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Target)" spellcheck="false">
											<span asp-validation-for="Target" class="text-danger small"></span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label asp-for="TargetName">@Html.DisplayNameFor(x => x.TargetName)</label>
											<input asp-for="TargetName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.TargetName)" spellcheck="false">
											<span asp-validation-for="TargetName" class="text-danger small"></span>
										</div>
									</div>
								</div>
								<div class="row mb-0">
									<div class="col-lg-8">
										<div class="form-group">
											<label asp-for="Description">@Html.DisplayNameFor(x => x.Description)</label>
											<input asp-for="Description" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Description)" spellcheck="false">
											<span asp-validation-for="Description" class="text-danger small"></span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label asp-for="Weight">@Html.DisplayNameFor(x => x.Weight)</label>
											<input asp-for="Weight" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Weight)" spellcheck="false">
											<span asp-validation-for="Weight" class="text-danger small"></span>
										</div>
									</div>
								</div>
								<div class="row mb-0">
									<div class="col-lg-6">
										<div class="form-check">
											<input asp-for="NewWindow" type="checkbox" class="form-check-input" spellcheck="false">
											<label asp-for="NewWindow" class="form-check-label">@Html.DisplayNameFor(x => x.NewWindow)</label>
										</div>
										<span asp-validation-for="NewWindow" class="text-danger small"></span>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
							<input asp-for="MenuId" type="hidden" />
							<input asp-for="ActionId" type="hidden" />
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!-- / Left Column -->
			</div>
			<!-- / Row -->
		</div>
        <!-- Container Fluid -->
    </section>
</div>
<!-- / Content Wrapper -->
