@model AppSettings
@{
	Layout = "_Dashboard";
	string Title = "Configuration";
}

@section CSS {

}

@section Scripts {

	<!-- Automated Form Validation -->
	<script src="~/common/plugins/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/common/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>@Title Detail</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">@Title Detail</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<partial name="_Messages" />
			<div class="row">
				<!-- left column -->
				<div class="col-md-9">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">@Title</h3>
							<div class="card-tools">
								<button asp-controller="Config" asp-action="Save" form="Master" class="btn btn-tool btn-sm">
									<i class="far fa-floppy-disk"></i>
								</button>
								<a href="/report/viewer.html?Report=Configuration.rdl" formaction="Master" class="btn btn-tool btn-sm" target="_blank">
									<i class="fas fa-print"></i>
								</a>
								<button asp-action="Close" form="Master" class="btn btn-tool btn-sm">
									<i class="fas fa-xmark"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form asp-action="#" id="Master">

							<div class="card-body">

								<ul class="nav nav-tabs" id="General" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="application-tab" data-toggle="pill" href="#application-content" role="tab" aria-controls="application-content" aria-selected="true">Application</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="corporation-tab" data-toggle="pill" href="#corporation-content" role="tab" aria-controls="corporation-content" aria-selected="false">Corporation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contact-tab" data-toggle="pill" href="#contact-content" role="tab" aria-controls="contact-content" aria-selected="false">Contacts</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="socialmedia-tab" data-toggle="pill" href="#socialmedia-content" role="tab" aria-controls="socialmedia-content" aria-selected="false">Social Media</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="connectionstrings-tab" data-toggle="pill" href="#connectionstrings-content" role="tab" aria-controls="connectionstrings-content" aria-selected="false">Connection Strings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="passwordrules-tab" data-toggle="pill" href="#passwordrules-content" role="tab" aria-controls="passwordrules-content" aria-selected="false">Password Rules</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="smosettings-tab" data-toggle="pill" href="#smosettings-content" role="tab" aria-controls="smosettings-content" aria-selected="false">SQL Server</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="smtpsettings-tab" data-toggle="pill" href="#smtpsettings-content" role="tab" aria-controls="smtpsettings-content" aria-selected="false">SMTP Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="jwt-tab" data-toggle="pill" href="#jwt-content" role="tab" aria-controls="jwt-content" aria-selected="false">JWT Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="ebay-tab" data-toggle="pill" href="#ebay-content" role="tab" aria-controls="ebay-content" aria-selected="false">EBay Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="okta-tab" data-toggle="pill" href="#okta-content" role="tab" aria-controls="okta-content" aria-selected="false">Okta Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="github-tab" data-toggle="pill" href="#github-content" role="tab" aria-controls="github-content" aria-selected="false">GitHub Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="namecheapsettings-tab" data-toggle="pill" href="#namecheapsettings-content" role="tab" aria-controls="namecheapsettings-content" aria-selected="false">Namecheap Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="paypal-tab" data-toggle="pill" href="#paypal-content" role="tab" aria-controls="paypal-content" aria-selected="false">PayPal Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="ovhcloud-tab" data-toggle="pill" href="#ovhcloud-content" role="tab" aria-controls="ovhcloud-content" aria-selected="false">OVHCloud Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="ebidsettings-tab" data-toggle="pill" href="#ebidsettings-content" role="tab" aria-controls="ebidsettings-content" aria-selected="false">EBid Settings</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="docs-tab" data-toggle="pill" href="#docs-content" role="tab" aria-controls="docs-content" aria-selected="false">Document Management</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="verisign-tab" data-toggle="pill" href="#verisign-content" role="tab" aria-controls="verisign-content" aria-selected="false">Verisign Settings</a>
									</li>
								</ul>

								<div class="tab-content" id="config-tab-content">

									<div class="tab-pane fade show active" id="application-content" role="tabpanel" aria-labelledby="application-content">

										<div class="row mb-0 mt-3">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Name">@Html.DisplayNameFor(x => x.App.Name)</label>
													<input asp-for="App.Name" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Name)">
													<span asp-validation-for="App.Name" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Shortname">@Html.DisplayNameFor(x => x.App.Shortname)</label>
													<input asp-for="App.Shortname" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Shortname)">
													<span asp-validation-for="App.Shortname" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Version">@Html.DisplayNameFor(x => x.App.Version)</label>
													<input asp-for="App.Version" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Version)">
													<span asp-validation-for="App.Version" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Domain">@Html.DisplayNameFor(x => x.App.Domain)</label>
													<input asp-for="App.Domain" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Domain)">
													<span asp-validation-for="App.Domain" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Url">@Html.DisplayNameFor(x => x.App.Url)</label>
													<input asp-for="App.Url" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Url)">
													<span asp-validation-for="App.Url" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="AllowedHosts">@Html.DisplayNameFor(x => x.AllowedHosts)</label>
													<input asp-for="AllowedHosts" class="form-control" placeholder="@Html.DisplayNameFor(x => x.AllowedHosts)">
													<span asp-validation-for="AllowedHosts" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Author">@Html.DisplayNameFor(x => x.App.Author)</label>
													<input asp-for="App.Author" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Author)">
													<span asp-validation-for="App.Author" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label asp-for="App.Copyright">@Html.DisplayNameFor(x => x.App.Copyright)</label>
													<input asp-for="App.Copyright" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Copyright)">
													<span asp-validation-for="App.Copyright" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Themename">@Html.DisplayNameFor(x => x.App.Themename)</label>
													<input asp-for="App.Themename" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Themename)">
													<span asp-validation-for="App.Themename" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label asp-for="App.Themepath">@Html.DisplayNameFor(x => x.App.Themepath)</label>
													<input asp-for="App.Themepath" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Themepath)">
													<span asp-validation-for="App.Themepath" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Description">@Html.DisplayNameFor(x => x.App.Description)</label>
													<input asp-for="App.Description" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Description)">
													<span asp-validation-for="App.Description" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Keywords">@Html.DisplayNameFor(x => x.App.Keywords)</label>
													<input asp-for="App.Keywords" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Keywords)">
													<span asp-validation-for="App.Keywords" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Tagline">@Html.DisplayNameFor(x => x.App.Tagline)</label>
													<input asp-for="App.Tagline" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Tagline)">
													<span asp-validation-for="App.Tagline" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="corporation-content" role="tabpanel" aria-labelledby="corporation-content">

										<div class="row mb-0 mt-3">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Company">@Html.DisplayNameFor(x => x.App.Company)</label>
													<input asp-for="App.Company" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Company)">
													<span asp-validation-for="App.Company" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Address">@Html.DisplayNameFor(x => x.App.Address)</label>
													<input asp-for="App.Address" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Address)">
													<span asp-validation-for="App.Address" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.City">@Html.DisplayNameFor(x => x.App.City)</label>
													<input asp-for="App.City" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.City)">
													<span asp-validation-for="App.City" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.State">@Html.DisplayNameFor(x => x.App.State)</label>
													<input asp-for="App.State" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.State)" autocomplete="off" spellcheck="false">
													<span asp-validation-for="App.State" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.Zip">@Html.DisplayNameFor(x => x.App.Zip)</label>
													<input asp-for="App.Zip" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Zip)">
													<span asp-validation-for="App.Zip" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.Phone">@Html.DisplayNameFor(x => x.App.Phone)</label>
													<input asp-for="App.Phone" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Phone)">
													<span asp-validation-for="App.Phone" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="contact-content" role="tabpanel" aria-labelledby="contact-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.BillingName">@Html.DisplayNameFor(x => x.App.BillingName)</label>
													<input asp-for="App.BillingName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.BillingName)">
													<span asp-validation-for="App.BillingName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.BillingAddress">@Html.DisplayNameFor(x => x.App.BillingAddress)</label>
													<input asp-for="App.BillingAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.BillingAddress)">
													<span asp-validation-for="App.BillingAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SalesName">@Html.DisplayNameFor(x => x.App.SalesName)</label>
													<input asp-for="App.SalesName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SalesName)">
													<span asp-validation-for="App.SalesName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SalesAddress">@Html.DisplayNameFor(x => x.App.SalesAddress)</label>
													<input asp-for="App.SalesAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SalesAddress)">
													<span asp-validation-for="App.SalesAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SupportName">@Html.DisplayNameFor(x => x.App.SupportName)</label>
													<input asp-for="App.SupportName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SupportName)">
													<span asp-validation-for="App.SupportName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SupportAddress">@Html.DisplayNameFor(x => x.App.SupportAddress)</label>
													<input asp-for="App.SupportAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SupportAddress)">
													<span asp-validation-for="App.SupportAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="socialmedia-content" role="tabpanel" aria-labelledby="socialmedia-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Apple">@Html.DisplayNameFor(x => x.App.Apple)</label>
													<input asp-for="App.Apple" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Apple)">
													<span asp-validation-for="App.Apple" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Facebook">@Html.DisplayNameFor(x => x.App.Facebook)</label>
													<input asp-for="App.Facebook" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Facebook)">
													<span asp-validation-for="App.Facebook" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Github">@Html.DisplayNameFor(x => x.App.Github)</label>
													<input asp-for="App.Github" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Github)">
													<span asp-validation-for="App.Github" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Google">@Html.DisplayNameFor(x => x.App.Google)</label>
													<input asp-for="App.Google" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Google)">
													<span asp-validation-for="App.Google" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Instagram">@Html.DisplayNameFor(x => x.App.Instagram)</label>
													<input asp-for="App.Instagram" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Instagram)">
													<span asp-validation-for="App.Instagram" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Linkedin">@Html.DisplayNameFor(x => x.App.Linkedin)</label>
													<input asp-for="App.Linkedin" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Linkedin)">
													<span asp-validation-for="App.Linkedin" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Mastodon">@Html.DisplayNameFor(x => x.App.Mastodon)</label>
													<input asp-for="App.Mastodon" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Mastodon)">
													<span asp-validation-for="App.Mastodon" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Microsoft">@Html.DisplayNameFor(x => x.App.Microsoft)</label>
													<input asp-for="App.Microsoft" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Microsoft)">
													<span asp-validation-for="App.Microsoft" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Twitter">@Html.DisplayNameFor(x => x.App.Twitter)</label>
													<input asp-for="App.Twitter" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Twitter)">
													<span asp-validation-for="App.Twitter" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Xing">@Html.DisplayNameFor(x => x.App.Xing)</label>
													<input asp-for="App.Xing" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Xing)">
													<span asp-validation-for="App.Xing" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="connectionstrings-content" role="tabpanel" aria-labelledby="connectionstrings-content">

										<div class="row mb-0 mt-3">
											<div class="col-12">
												<div class="form-group">
													<label asp-for="ConnectionStrings.MainContext">@Html.DisplayNameFor(x => x.ConnectionStrings.MainContext)</label>
													<input asp-for="ConnectionStrings.MainContext" class="form-control" placeholder="@Html.DisplayNameFor(x => x.ConnectionStrings.MainContext)">
													<span asp-validation-for="ConnectionStrings.MainContext" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="passwordrules-content" role="tabpanel" aria-labelledby="passwordrules-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="PasswordRules.RequiredLength">@Html.DisplayNameFor(x => x.PasswordRules.RequiredLength)</label>
													<input asp-for="PasswordRules.RequiredLength" class="form-control" placeholder="@Html.DisplayNameFor(x => x.PasswordRules.RequiredLength)">
													<span asp-validation-for="PasswordRules.RequiredLength" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="PasswordRules.RequiredUniqueChars">@Html.DisplayNameFor(x => x.PasswordRules.RequiredUniqueChars)</label>
													<input asp-for="PasswordRules.RequiredUniqueChars" class="form-control" placeholder="@Html.DisplayNameFor(x => x.PasswordRules.RequiredUniqueChars)">
													<span asp-validation-for="PasswordRules.RequiredUniqueChars" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<input asp-for="PasswordRules.RequireDigit" type="checkbox" class="icheck-primary me-2" placeholder="@Html.DisplayNameFor(x => x.PasswordRules.RequireDigit)">
													<label asp-for="PasswordRules.RequireDigit">@Html.DisplayNameFor(x => x.PasswordRules.RequireDigit)</label>
													<span asp-validation-for="PasswordRules.RequireDigit" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<input asp-for="PasswordRules.RequireLowercase" class="icheck-primary me-2" placeholder="@Html.DisplayNameFor(x => x.PasswordRules.RequireLowercase)">
													<label asp-for="PasswordRules.RequireLowercase">@Html.DisplayNameFor(x => x.PasswordRules.RequireLowercase)</label>
													<span asp-validation-for="PasswordRules.RequireLowercase" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<input asp-for="PasswordRules.RequireNonAlphanumeric" class="icheck-primary me-2" placeholder="@Html.DisplayNameFor(x => x.PasswordRules.RequireNonAlphanumeric)">
													<label asp-for="PasswordRules.RequireNonAlphanumeric">@Html.DisplayNameFor(x => x.PasswordRules.RequireNonAlphanumeric)</label>
													<span asp-validation-for="PasswordRules.RequireNonAlphanumeric" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<input asp-for="PasswordRules.RequireUppercase" class="icheck-primary me-2" placeholder="@Html.DisplayNameFor(x => x.PasswordRules.RequireUppercase)">
													<label asp-for="PasswordRules.RequireUppercase">@Html.DisplayNameFor(x => x.PasswordRules.RequireUppercase)</label>
													<span asp-validation-for="PasswordRules.RequireUppercase" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="smosettings-content" role="tabpanel" aria-labelledby="smosettings-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="SmoSettings.ServerInstance">@Html.DisplayNameFor(x => x.SmoSettings.ServerInstance)</label>
													<input asp-for="SmoSettings.ServerInstance" class="form-control" placeholder="@Html.DisplayNameFor(x => x.SmoSettings.ServerInstance)">
													<span asp-validation-for="SmoSettings.ServerInstance" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="SmoSettings.LoginSecure">@Html.DisplayNameFor(x => x.SmoSettings.LoginSecure)</label>
													<input asp-for="SmoSettings.LoginSecure" class="form-control" placeholder="@Html.DisplayNameFor(x => x.SmoSettings.LoginSecure)">
													<span asp-validation-for="SmoSettings.LoginSecure" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="SmoSettings.Login">@Html.DisplayNameFor(x => x.SmoSettings.Login)</label>
													<input asp-for="SmoSettings.Login" class="form-control" placeholder="@Html.DisplayNameFor(x => x.SmoSettings.Login)">
													<span asp-validation-for="SmoSettings.Login" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="SmoSettings.Password">@Html.DisplayNameFor(x => x.SmoSettings.Password)</label>
													<input asp-for="SmoSettings.Password" class="form-control" placeholder="@Html.DisplayNameFor(x => x.SmoSettings.Password)">
													<span asp-validation-for="SmoSettings.Password" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="SmoSettings.BackupStoragePath">@Html.DisplayNameFor(x => x.SmoSettings.BackupStoragePath)</label>
													<input asp-for="SmoSettings.BackupStoragePath" class="form-control" placeholder="@Html.DisplayNameFor(x => x.SmoSettings.BackupStoragePath)">
													<span asp-validation-for="SmoSettings.BackupStoragePath" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="smtpsettings-content" role="tabpanel" aria-labelledby="smtpsettings-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Smtp.Host">@Html.DisplayNameFor(x => x.Smtp.Port)</label>
													<input asp-for="Smtp.Host" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Smtp.Host)">
													<span asp-validation-for="Smtp.Host" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Smtp.Port">@Html.DisplayNameFor(x => x.Smtp.Port)</label>
													<input asp-for="Smtp.Port" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Smtp.Port)">
													<span asp-validation-for="Smtp.Port" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Smtp.User">@Html.DisplayNameFor(x => x.Smtp.User)</label>
													<input asp-for="Smtp.User" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Smtp.User)">
													<span asp-validation-for="Smtp.User" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Smtp.Password">@Html.DisplayNameFor(x => x.Smtp.Password)</label>
													<input asp-for="Smtp.Password" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Smtp.Password)">
													<span asp-validation-for="Smtp.Password" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="Smtp.From">@Html.DisplayNameFor(x => x.Smtp.From)</label>
													<input asp-for="Smtp.From" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Smtp.From)">
													<span asp-validation-for="Smtp.From" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="jwt-content" role="tabpanel" aria-labelledby="jwt-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Jwt.Key">@Html.DisplayNameFor(x => x.Jwt.Key)</label>
													<input asp-for="Jwt.Key" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Jwt.Key)">
													<span asp-validation-for="Jwt.Key" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Jwt.Issuer">@Html.DisplayNameFor(x => x.Jwt.Issuer)</label>
													<input asp-for="Jwt.Issuer" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Jwt.Issuer)">
													<span asp-validation-for="Jwt.Issuer" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Jwt.ExpireDays">@Html.DisplayNameFor(x => x.Jwt.ExpireDays)</label>
													<input asp-for="Jwt.ExpireDays" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Jwt.ExpireDays)">
													<span asp-validation-for="Jwt.ExpireDays" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="ebay-content" role="tabpanel" aria-labelledby="ebay-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="EBaySettings.AppId">@Html.DisplayNameFor(x => x.EBaySettings.AppId)</label>
													<input asp-for="EBaySettings.AppId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.EBaySettings.AppId)">
													<span asp-validation-for="EBaySettings.AppId" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="EBaySettings.DevId">@Html.DisplayNameFor(x => x.EBaySettings.DevId)</label>
													<input asp-for="EBaySettings.DevId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.EBaySettings.DevId)">
													<span asp-validation-for="EBaySettings.DevId" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="EBaySettings.CertId">@Html.DisplayNameFor(x => x.EBaySettings.CertId)</label>
													<input asp-for="EBaySettings.CertId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.EBaySettings.CertId)">
													<span asp-validation-for="EBaySettings.CertId" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="okta-content" role="tabpanel" aria-labelledby="okta-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OktaSettings.Domain">@Html.DisplayNameFor(x => x.OktaSettings.Domain)</label>
													<input asp-for="OktaSettings.Domain" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OktaSettings.Domain)">
													<span asp-validation-for="OktaSettings.Domain" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OktaSettings.ClientId">@Html.DisplayNameFor(x => x.OktaSettings.ClientId)</label>
													<input asp-for="OktaSettings.ClientId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OktaSettings.ClientId)">
													<span asp-validation-for="OktaSettings.ClientId" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OktaSettings.ClientSecret">@Html.DisplayNameFor(x => x.OktaSettings.ClientSecret)</label>
													<input asp-for="OktaSettings.ClientSecret" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OktaSettings.ClientSecret)">
													<span asp-validation-for="OktaSettings.ClientSecret" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="github-content" role="tabpanel" aria-labelledby="github-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="GitHubSettings.ClientId">@Html.DisplayNameFor(x => x.GitHubSettings.ClientId)</label>
													<input asp-for="GitHubSettings.ClientId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.GitHubSettings.ClientId)">
													<span asp-validation-for="GitHubSettings.ClientId" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="GitHubSettings.ClientSecret">@Html.DisplayNameFor(x => x.GitHubSettings.ClientSecret)</label>
													<input asp-for="GitHubSettings.ClientSecret" class="form-control" placeholder="@Html.DisplayNameFor(x => x.GitHubSettings.ClientSecret)">
													<span asp-validation-for="GitHubSettings.ClientSecret" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="namecheapsettings-content" role="tabpanel" aria-labelledby="namecheapsettings-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="NameCheapSettings.ApiKey">@Html.DisplayNameFor(x => x.NameCheapSettings.ApiKey)</label>
													<input asp-for="NameCheapSettings.ApiKey" class="form-control" placeholder="@Html.DisplayNameFor(x => x.NameCheapSettings.ApiKey)">
													<span asp-validation-for="NameCheapSettings.ApiKey" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="NameCheapSettings.ApiUser">@Html.DisplayNameFor(x => x.NameCheapSettings.ApiUser)</label>
													<input asp-for="NameCheapSettings.ApiUser" class="form-control" placeholder="@Html.DisplayNameFor(x => x.NameCheapSettings.ApiUser)">
													<span asp-validation-for="NameCheapSettings.ApiUser" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="NameCheapSettings.ApiAddress">@Html.DisplayNameFor(x => x.NameCheapSettings.ApiAddress)</label>
													<input asp-for="NameCheapSettings.ApiAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.NameCheapSettings.ApiAddress)">
													<span asp-validation-for="NameCheapSettings.ApiAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="paypal-content" role="tabpanel" aria-labelledby="paypal-content">

										<div class="row mb-0 mt-3">
											<div class="col">
												<div class="form-group">
													<label asp-for="PayPalSettings.ClientId">@Html.DisplayNameFor(x => x.PayPalSettings.ClientId)</label>
													<input asp-for="PayPalSettings.ClientId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.PayPalSettings.ClientId)">
													<span asp-validation-for="PayPalSettings.ClientId" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0 mt-3">
											<div class="col">
												<div class="form-group">
													<label asp-for="PayPalSettings.ClientSecret">@Html.DisplayNameFor(x => x.PayPalSettings.ClientSecret)</label>
													<input asp-for="PayPalSettings.ClientSecret" class="form-control" placeholder="@Html.DisplayNameFor(x => x.PayPalSettings.ClientSecret)">
													<span asp-validation-for="PayPalSettings.ClientSecret" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="PayPalSettings.Mode">@Html.DisplayNameFor(x => x.PayPalSettings.Mode)</label>
													<input asp-for="PayPalSettings.Mode" class="form-control" placeholder="@Html.DisplayNameFor(x => x.PayPalSettings.Mode)">
													<span asp-validation-for="PayPalSettings.Mode" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="ovhcloud-content" role="tabpanel" aria-labelledby="ovhcloud-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OvhCloudSettings.AllowedIp">@Html.DisplayNameFor(x => x.OvhCloudSettings.AllowedIp)</label>
													<input asp-for="OvhCloudSettings.AllowedIp" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OvhCloudSettings.AllowedIp)">
													<span asp-validation-for="OvhCloudSettings.AllowedIp" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OvhCloudSettings.ApplicationKey">@Html.DisplayNameFor(x => x.OvhCloudSettings.ApplicationKey)</label>
													<input asp-for="OvhCloudSettings.ApplicationKey" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OvhCloudSettings.ApplicationKey)">
													<span asp-validation-for="OvhCloudSettings.ApplicationKey" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OvhCloudSettings.ApplicationSecret">@Html.DisplayNameFor(x => x.OvhCloudSettings.ApplicationSecret)</label>
													<input asp-for="OvhCloudSettings.ApplicationSecret" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OvhCloudSettings.ApplicationSecret)">
													<span asp-validation-for="OvhCloudSettings.ApplicationSecret" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="OvhCloudSettings.ConsumerKey">@Html.DisplayNameFor(x => x.OvhCloudSettings.ConsumerKey)</label>
													<input asp-for="OvhCloudSettings.ConsumerKey" class="form-control" placeholder="@Html.DisplayNameFor(x => x.OvhCloudSettings.ConsumerKey)">
													<span asp-validation-for="OvhCloudSettings.ConsumerKey" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="ebidsettings-content" role="tabpanel" aria-labelledby="ebidsettings-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="EBidSettings.ApplicationId">@Html.DisplayNameFor(x => x.EBidSettings.ApplicationId)</label>
													<input asp-for="EBidSettings.ApplicationId" class="form-control" placeholder="@Html.DisplayNameFor(x => x.EBidSettings.ApplicationId)">
													<span asp-validation-for="EBidSettings.ApplicationId" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="EBidSettings.ApplicationKey">@Html.DisplayNameFor(x => x.EBidSettings.ApplicationKey)</label>
													<input asp-for="EBidSettings.ApplicationKey" class="form-control" placeholder="@Html.DisplayNameFor(x => x.EBidSettings.ApplicationKey)">
													<span asp-validation-for="EBidSettings.ApplicationKey" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="EBidSettings.UserAccessToken">@Html.DisplayNameFor(x => x.EBidSettings.UserAccessToken)</label>
													<input asp-for="EBidSettings.UserAccessToken" class="form-control" placeholder="@Html.DisplayNameFor(x => x.EBidSettings.UserAccessToken)">
													<span asp-validation-for="EBidSettings.UserAccessToken" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="docs-content" role="tabpanel" aria-labelledby="docs-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Docs.SourceFolderName">@Html.DisplayNameFor(x => x.Docs.SourceFolderName)</label>
													<input asp-for="Docs.SourceFolderName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Docs.SourceFolderName)">
													<span asp-validation-for="Docs.SourceFolderName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="Docs.BackupStoragePath">@Html.DisplayNameFor(x => x.Docs.BackupStoragePath)</label>
													<input asp-for="Docs.BackupStoragePath" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Docs.BackupStoragePath)">
													<span asp-validation-for="Docs.BackupStoragePath" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="verisign-content" role="tabpanel" aria-labelledby="verisign-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="VerisignSettings.UserName">@Html.DisplayNameFor(x => x.VerisignSettings.UserName)</label>
													<input asp-for="VerisignSettings.UserName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.VerisignSettings.UserName)">
													<span asp-validation-for="VerisignSettings.UserName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="VerisignSettings.Password">@Html.DisplayNameFor(x => x.VerisignSettings.Password)</label>
													<input asp-for="VerisignSettings.Password" class="form-control" placeholder="@Html.DisplayNameFor(x => x.VerisignSettings.Password)">
													<span asp-validation-for="VerisignSettings.Password" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="VerisignSettings.Portal">@Html.DisplayNameFor(x => x.VerisignSettings.Portal)</label>
													<input asp-for="VerisignSettings.Portal" class="form-control" placeholder="@Html.DisplayNameFor(x => x.VerisignSettings.Portal)">
													<span asp-validation-for="VerisignSettings.Portal" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

								</div>

							</div>

						</form>
					</div>
					<!-- /.card -->
				</div>
				<!-- / Left Column -->
			</div>
			<!-- / Row -->
		</div>
		<!-- Container Fluid -->
	</section>
</div>
<!-- / Content Wrapper -->
