@model AppSettings
@{
	Layout = "_Dashboard";
	string Title = "Configuration";
}

@section CSS {

}

@section Scripts {

	<!-- Automated Form Validation -->
	<script src="~/common/plugins/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/common/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>@Title Detail</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
						<li class="breadcrumb-item active">@Title Detail</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<partial name="_Messages" />
			<div class="row">
				<!-- left column -->
				<div class="col-md-9">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">@Title</h3>
							<div class="card-tools">
								<button asp-controller="Config" asp-action="Save" form="Master" class="btn btn-tool btn-sm">
									<i class="far fa-floppy-disk"></i>
								</button>
								<a href="/report/viewer.html?Report=Configuration.rdl" formaction="Master" class="btn btn-tool btn-sm" target="_blank">
									<i class="fas fa-print"></i>
								</a>
								<button asp-action="Close" form="Master" class="btn btn-tool btn-sm">
									<i class="fas fa-xmark"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form asp-action="#" id="Master">

							<div class="card-body">

								<ul class="nav nav-tabs" id="General" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="application-tab" data-toggle="pill" href="#application-content" role="tab" aria-controls="application-content" aria-selected="true">Application</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="corporation-tab" data-toggle="pill" href="#corporation-content" role="tab" aria-controls="corporation-content" aria-selected="false">Corporation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contact-tab" data-toggle="pill" href="#contact-content" role="tab" aria-controls="contact-content" aria-selected="false">Contacts</a>
									</li>
								</ul>

								<div class="tab-content" id="config-tab-content">

									<div class="tab-pane fade show active" id="application-content" role="tabpanel" aria-labelledby="application-content">

										<div class="row mb-0 mt-3">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Name">@Html.DisplayNameFor(x => x.App.Name)</label>
													<input asp-for="App.Name" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Name)">
													<span asp-validation-for="App.Name" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Shortname">@Html.DisplayNameFor(x => x.App.Shortname)</label>
													<input asp-for="App.Shortname" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Shortname)">
													<span asp-validation-for="App.Shortname" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Version">@Html.DisplayNameFor(x => x.App.Version)</label>
													<input asp-for="App.Version" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Version)">
													<span asp-validation-for="App.Version" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Domain">@Html.DisplayNameFor(x => x.App.Domain)</label>
													<input asp-for="App.Domain" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Domain)">
													<span asp-validation-for="App.Domain" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Url">@Html.DisplayNameFor(x => x.App.Url)</label>
													<input asp-for="App.Url" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Url)">
													<span asp-validation-for="App.Url" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="AllowedHosts">@Html.DisplayNameFor(x => x.AllowedHosts)</label>
													<input asp-for="AllowedHosts" class="form-control" placeholder="@Html.DisplayNameFor(x => x.AllowedHosts)">
													<span asp-validation-for="AllowedHosts" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Author">@Html.DisplayNameFor(x => x.App.Author)</label>
													<input asp-for="App.Author" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Author)">
													<span asp-validation-for="App.Author" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label asp-for="App.Copyright">@Html.DisplayNameFor(x => x.App.Copyright)</label>
													<input asp-for="App.Copyright" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Copyright)">
													<span asp-validation-for="App.Copyright" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-md-4">
												<div class="form-group">
													<label asp-for="App.Themename">@Html.DisplayNameFor(x => x.App.Themename)</label>
													<input asp-for="App.Themename" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Themename)">
													<span asp-validation-for="App.Themename" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label asp-for="App.Themepath">@Html.DisplayNameFor(x => x.App.Themepath)</label>
													<input asp-for="App.Themepath" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Themepath)">
													<span asp-validation-for="App.Themepath" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Description">@Html.DisplayNameFor(x => x.App.Description)</label>
													<input asp-for="App.Description" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Description)">
													<span asp-validation-for="App.Description" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Keywords">@Html.DisplayNameFor(x => x.App.Keywords)</label>
													<input asp-for="App.Keywords" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Keywords)">
													<span asp-validation-for="App.Keywords" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Tagline">@Html.DisplayNameFor(x => x.App.Tagline)</label>
													<input asp-for="App.Tagline" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Tagline)">
													<span asp-validation-for="App.Tagline" class="text-danger small"></span>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane fade" id="corporation-content" role="tabpanel" aria-labelledby="corporation-content">

										<div class="row mb-0 mt-3">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Company">@Html.DisplayNameFor(x => x.App.Company)</label>
													<input asp-for="App.Company" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Company)">
													<span asp-validation-for="App.Company" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col">
												<div class="form-group">
													<label asp-for="App.Address">@Html.DisplayNameFor(x => x.App.Address)</label>
													<input asp-for="App.Address" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Address)">
													<span asp-validation-for="App.Address" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.City">@Html.DisplayNameFor(x => x.App.City)</label>
													<input asp-for="App.City" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.City)">
													<span asp-validation-for="App.City" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.State">@Html.DisplayNameFor(x => x.App.State)</label>
													<input asp-for="App.State" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.State)" autocomplete="off" spellcheck="false">
													<span asp-validation-for="App.State" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.Zip">@Html.DisplayNameFor(x => x.App.Zip)</label>
													<input asp-for="App.Zip" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Zip)">
													<span asp-validation-for="App.Zip" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-4">
												<div class="form-group">
													<label asp-for="App.Phone">@Html.DisplayNameFor(x => x.App.Phone)</label>
													<input asp-for="App.Phone" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Phone)">
													<span asp-validation-for="App.Phone" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="contact-content" role="tabpanel" aria-labelledby="contact-content">

										<div class="row mb-0 mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.BillingName">@Html.DisplayNameFor(x => x.App.BillingName)</label>
													<input asp-for="App.BillingName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.BillingName)">
													<span asp-validation-for="App.BillingName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.BillingAddress">@Html.DisplayNameFor(x => x.App.BillingAddress)</label>
													<input asp-for="App.BillingAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.BillingAddress)">
													<span asp-validation-for="App.BillingAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SalesName">@Html.DisplayNameFor(x => x.App.SalesName)</label>
													<input asp-for="App.SalesName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SalesName)">
													<span asp-validation-for="App.SalesName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SalesAddress">@Html.DisplayNameFor(x => x.App.SalesAddress)</label>
													<input asp-for="App.SalesAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SalesAddress)">
													<span asp-validation-for="App.SalesAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SupportName">@Html.DisplayNameFor(x => x.App.SupportName)</label>
													<input asp-for="App.SupportName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SupportName)">
													<span asp-validation-for="App.SupportName" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.SupportAddress">@Html.DisplayNameFor(x => x.App.SupportAddress)</label>
													<input asp-for="App.SupportAddress" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.SupportAddress)">
													<span asp-validation-for="App.SupportAddress" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Apple">@Html.DisplayNameFor(x => x.App.Apple)</label>
													<input asp-for="App.Apple" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Apple)">
													<span asp-validation-for="App.Apple" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Facebook">@Html.DisplayNameFor(x => x.App.Facebook)</label>
													<input asp-for="App.Facebook" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Facebook)">
													<span asp-validation-for="App.Facebook" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Github">@Html.DisplayNameFor(x => x.App.Github)</label>
													<input asp-for="App.Github" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Github)">
													<span asp-validation-for="App.Github" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Google">@Html.DisplayNameFor(x => x.App.Google)</label>
													<input asp-for="App.Google" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Google)">
													<span asp-validation-for="App.Google" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Instagram">@Html.DisplayNameFor(x => x.App.Instagram)</label>
													<input asp-for="App.Instagram" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Instagram)">
													<span asp-validation-for="App.Instagram" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Linkedin">@Html.DisplayNameFor(x => x.App.Linkedin)</label>
													<input asp-for="App.Linkedin" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Linkedin)">
													<span asp-validation-for="App.Linkedin" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Mastodon">@Html.DisplayNameFor(x => x.App.Mastodon)</label>
													<input asp-for="App.Mastodon" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Mastodon)">
													<span asp-validation-for="App.Mastodon" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Microsoft">@Html.DisplayNameFor(x => x.App.Microsoft)</label>
													<input asp-for="App.Microsoft" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Microsoft)">
													<span asp-validation-for="App.Microsoft" class="text-danger small"></span>
												</div>
											</div>
										</div>
										<div class="row mb-0">
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Twitter">@Html.DisplayNameFor(x => x.App.Twitter)</label>
													<input asp-for="App.Twitter" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Twitter)">
													<span asp-validation-for="App.Twitter" class="text-danger small"></span>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label asp-for="App.Xing">@Html.DisplayNameFor(x => x.App.Xing)</label>
													<input asp-for="App.Xing" class="form-control" placeholder="@Html.DisplayNameFor(x => x.App.Xing)">
													<span asp-validation-for="App.Xing" class="text-danger small"></span>
												</div>
											</div>
										</div>
									</div>

								</div>

							</div>

						</form>
					</div>
					<!-- /.card -->
				</div>
				<!-- / Left Column -->
			</div>
			<!-- / Row -->
		</div>
		<!-- Container Fluid -->
	</section>
</div>
<!-- / Content Wrapper -->
